# Dependencies
node_modules

# Environment Variables
.env

# Logs
logs
*.log

# Runtime Data
pids
*.pid
*.seed
*.pid.lock

# Coverage Directory
coverage/

# Uploads
uploads/*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db